*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../img/natural-pattern.png');
  font-family: 'Roboto', sans-serif;
}
.root-container{
  width: 60%;
  margin: auto;
}
.clearfix{
  display: table;
  content: "";
  clear:both;
}
header{
  background-image: url('../img/natural-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: solid 10px white;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.header-img-logo img{
  padding-top: 60px;
  width: 650px;
  height: auto;
}
h1.logo-title{
  padding-bottom: 70px;
}
nav{
  text-align: center;
  background-color: grey;
}
ul.menu li{
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
}
ul.menu li a{
text-decoration: none;
color: white;
font-size: 14px;
font-weight: bold;

}
ul.menu li a:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.column{
  float: left;
  margin-top: 10px;
}
.col-center .box h2, .col-right .box h3{
  padding-bottom: 40px;
}
.col-left .box img{
  float:left;
  padding-right: 10px;
}
.col-left .box h2{
  padding-bottom: 10px;
}
.col-left{
  width: 20%;
}
.link-zone a{
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
  color: green;

}
.col-right{
  width: 15%;
}
.col-center{
  width: 55%;
  margin-left: 5%;
  margin-right: 5%;
}
.box{
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}
.col-center .box, .col-right .box{
  padding: 20px;
}
.col-right .box{
  margin-bottom: 40px;
}
footer{
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
footer{
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}
footer a img{
  padding: 40px;
  opacity: 0.4;
}
.instagram{
  padding-left: 30%;
  padding-right: 30%;
}
